.cards__button-delete {
    background-image: url(../../../images/button_delete.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 19px;
    border: none;
    cursor: pointer;
    transition: .3s;
}
.cards__button-delete:hover {
    opacity: 0.5;
}