.profile__names {
    margin: 0;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

@media screen and (max-width: 920px) {
    .profile__names {
        margin: 0 0 7px;
        align-items: center;
    }
}