.popup__save {
    background-color: #000000;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    border-radius: 2px;
    text-align: center;
    width: 358px;
    min-height: 50px;
    padding: 0;
    border: none;
    margin-top: 48px;
    cursor: pointer;
    transition: .3s;
}

.popup__save:hover {
    opacity: 0.8;
}

@media screen and (max-width: 650px) {
    .popup__save {
        font-size: 14px;
        line-height: 17px;
        margin-top: 45px;
        height: 46px;
        width: 238px;

    }
}